/* Инфо блок */
.about__inner{
    position: relative;
}

.about__img{
    max-width: 100%;
}

.about__text--inner{
    max-width: 750px;
    position: absolute;
    bottom: -25px;
    right: 0;
    padding: 4rem 5.5rem;
    background: #fff;
}

@media(max-width: 998px){
    .about__text--inner{
        position: relative;
        bottom: 0;
        padding: 2.5rem;
    }
}
@media(max-width: 480px){
    .about__text--inner{
        padding: 1.5rem;
    }
}