/* Тарифы */
.tarifs__text{
    text-align: center;
    max-width: 830px;
    margin-top: 1.2rem;
}

.tarifs__content, .points__content{
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.tarifs__item{
    padding: 4rem;
    background: #fff;
    justify-content: space-between;
}

.tarifs__item--title{
    padding-bottom: 1.5rem;
    position: relative;
}

.tarifs__item--title:before{
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background: #21B24A;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.tarifs__item--button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 2.3rem 4rem;
}

.tarifs__item--price{
    margin-top: 2.5rem;
}

.tarifs__item--point--inner{
    margin-top: 2.5rem;
}

.tarifs__item--point{
    margin-top: 2rem;
}

.tarifs__item--point:first-child{
    margin-top: 0;
}

@media(max-width: 1340px){
    .tarifs__item{
        padding: 2.5rem;
    }
}
@media(max-width: 768px){
    .tarifs__item--button{
        padding: 1.2rem 3rem;
    }

    .tarifs__item{
        padding: 2rem;
    }

    .tarifs__item--price{
        margin-top: 1.5rem;
    }
}
@media(max-width: 480px){
    .tarifs__content{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}