:root{
    font-size: 10px;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('assets/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('assets/fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('assets/fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('assets/fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Gilroy', sans-serif;
}

.scroll{
    overflow: hidden;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

a, button, input{
    transition: .2s linear;
    font-family: 'Gilroy', sans-serif;
    font-size: 1.6rem;
}

path{
    transition: .2s linear;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
    margin: 0;
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}

.button{
    border: none;
    cursor: pointer;
    background: none;
    outline: none;
    border: 1px solid #21B24A;
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
}

.green{
    color: #21b24a;
    font-weight: 600;
}

.green:hover{
    background: #21b24a;
    color: #fff;
}

.white{
    background: #21b24a;
    color: #fff;
}

.white:hover{
    background: #fff;
    color: #21b24a;
}

.green:hover svg path{
    fill: #fff;
}

.input{
    border: none;
    outline: none;
}

.input::placeholder{

}

.input:focus::placeholder{
    opacity: 0; 
}

.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

.logo{
    display: flex;
    width: 46px;
}

.logo__img{
    width: 100%;
    height: auto;
}

.flex, .flexcenter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexcenter{
    align-items: center;
}

.template{
    padding: 7.5rem 0;
    background: #F8F9FA;
}

.title{
    color: #151515;
    font-size: 4.2rem;
    font-weight: 700;
}

.center{
    text-align: center;
}

.text__inner{
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.text{
    color: #5b5b5b;
    font-size: 1.8rem;
}

.default__margin{
    margin-top: 5rem;
}

.form__button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.3rem;
    font-weight: 600;
    padding: 2.3rem 3rem;
}

.input__checkbox{
    display: none;
}

.input__checkbox:checked + .form__input--label:after{
    opacity: 1;
}

.slider{
    padding: 0rem 0rem 5rem 0;
}

.point__inner{
    margin-top: 1.5rem;
}

.point__text{
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    position: relative;
}

.point__text:before{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #5B5B5B;
    position: absolute;
    top: 10px;
    left: 0;
}

.wrap__text{
    margin-top: 1.5rem;
}

.wrap__text:first-child{
    margin-top: 0;
}

/* Адаптив */
@media(max-width: 1340px){
    .container{
        max-width: 1180px;
    }
}
@media(max-width: 1200px){
    .container{
        max-width: 978px;
    }
}
@media(max-width: 998px){
    .container{
        max-width: 748px;
    }

    .title{
        font-size: 3.5rem;
    }

    .default__margin{
        margin-top: 3rem;
    }

    .template{
        padding: 4.5rem 0;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 460px;
    }

    .title{
        font-size: 3rem;
    }

    .text__inner{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .text{
        font-size: 1.6rem;
    }
}
@media(max-width: 480px){
    .container{
        max-width: 300px;
    }

    .title{
        font-size: 2.5rem;
    }

    .default__margin{
        margin-top: 2rem;
    }

    .template{
        padding: 3rem 0;
    }
}